
$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$warning-color: #f39c12;
$info-color: #8e44ad;
$dark-bg-color: #1e1e1e;
$light-bg-color: #f5f5f5;
$text-light-color: #ffffff;
$text-dark-color: #000000;


$custom-color-1: #ff7920;
$custom-color-2: #ffd500;
$custom-color-3: #5aa4ff;
$custom-color-4: #a0faff;
$custom-color-5: #ff0000a3;
$custom-color-6: #83008f;
$custom-color-7: #e5c063;
$custom-color-8: #c37be6;
$custom-color-9: #f80084;
$custom-color-10: #9cb351;
$custom-color-11: #9e9040;
$custom-color-12: #403148;
$custom-color-13: #792de3;
$custom-color-14: #423025;
$custom-color-15: #f49ebc;